{% load string_utils %}
<style>
    .new-page {
        page-break-before: always;
        break-before: page;
    }
    .b-task-info {
        page-break-before: always;
        break-before: page;
        display: inline;
        margin-bottom: 5px;
    }
    .b-task-number {
        font-weight: bold;
        font-size: 24px;
    }
    .b-task-header {
        display: inline;
        font-size: 14px;
    }
    .b-divider {
        margin: 10px 0;
        border-bottom: 1px solid #000000;
    }
</style>
<div>
    <div class="b-task-info">
        <span class="b-task-number">Task {{ task.number }}</span>
        <span class="b-task-header">{{ task.header|with_markdown|safe }}</span>
    </div>
    <div class="b-divider"></div>
    {% block content %}
    {% endblock %}
</div>